[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "==3.7.1"
motor = "==2.0.0"
python-bsonjs = "==0.2.0"
sanic = "==18.12.0"
pycommon = {editable = true,path = "./../pycommon"}
pillow = "==5.4.1"

[dev-packages]
pycommon = {editable = true,extras = ["test"],path = "./../pycommon"}

[requires]
python_version = "3.7"
