<div class="d-flex flex-column" *ngIf="property">
  <rem-editable-text (edit)="save('name', $event)" [value]="property.name" elm="h3"></rem-editable-text>
  <rem-editable-text (edit)="save('description', $event)" [value]="property.description"></rem-editable-text>
  <div class="d-flex flex-row">
    <span>Acreage:</span><rem-editable-text (edit)="save('acreage', $event)" [value]="property.acreage" valType="float"></rem-editable-text>
  </div>
  <div class="d-flex flex-row">
    <span>Owners:</span><!--<rem-ownership (edit)="save('ownership', $event)" [value]="property.owners"></rem-ownership>-->
  </div>
  <h4>Location</h4>
  <rem-editable-single-value (edit)="save('propType', $event)" [value]="property.propType" [valueChoices]="propTypeValues"></rem-editable-single-value>
  <div class="d-flex flex-row">
    <rem-editable-text (edit)="save('city', $event)" [value]="property.city" valType="string" placeholder="City"></rem-editable-text>,
    <rem-editable-text (edit)="save('county', $event)" [value]="property.county" valType="string" placeholder="County"></rem-editable-text>
    <span *ngIf="property.county">&nbsp;County</span>
  </div>
</div>
<div *ngIf="!property">
  Loading...
</div>
