[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycommon = {editable = true,path = "./../pycommon"}
motor = "==2.0.0"
aiohttp = "==3.5.1"
lxml = "==4.3.0"
"beautifulsoup4" = "==4.7.0"
typing-extensions = "*"

[dev-packages]
mypy = "==0.660"
aresponses = "==1.1.1"

[requires]
python_version = "3.7"
