---

version: '2'
services:
  app:
    restart: always
    environment:
      SITE_HOSTNAME: {{ app_hostname }}
      DJANGO_GA_ACCOUNT: {{ google_analytics_id }}
      DJANGO_STATIC_HOSTNAME: {{ static_hostname }}
      DJANGO_STATIC_PATH: {{ static_path }}

  admin:
    restart: always
    environment:
      SITE_HOSTNAME: {{ admin_hostname }}
      DJANGO_STATIC_HOSTNAME: {{ static_hostname }}
      DJANGO_STATIC_PATH: {{ static_path }}

  memcached:
    restart: always

  nginx_http:
    restart: always
    ports:
     - "80:80"
    volumes:
      - "/docker-run/nginx-root:/var/tmp/nginx"

  nginx_https:
    restart: always
    ports:
     - "443:443"
    volumes:
      - "letsencrypt:/etc/letsencrypt"

volumes:
  letsencrypt: {}
