noninteractive = True
email = keitwb@gmail.com
text = True

rsa-key-size = 4096

domains = {{ domain }}

authenticator = webroot
webroot-path = /var/tmp/nginx
keep = True

agree-tos = True
expand = True
